<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Template • TodoMVC</title>
  <link rel="stylesheet" href="node_modules/todomvc-common/base.css">
  <link rel="stylesheet" href="node_modules/todomvc-app-css/index.css">
</head>

<body ng-app="todoApp" ng-controller="TodoController">
  <section class="todoapp">
    <header class="header">
      <h1>todos</h1>

      <!-- 在form表单中按回车键，会触发form表单的 submit 事件！！！ -->
      <form ng-submit="add()">
        <!-- 给文本框绑定 taskName  -->
        <input class="new-todo" ng-model="taskName" placeholder="What needs to be done?" autofocus>
      </form>
    </header>
    <!-- This section should be hidden by default and shown when there are todos -->
    <section class="main">
      <input class="toggle-all" type="checkbox" ng-click="checkAll()" ng-model="isCheckAll">
      <label for="toggle-all">Mark all as complete</label>
      <ul class="todo-list">
        <!-- These are here just to show the structure of the list items -->
        <!-- List items should get the class `editing` when editing and `completed` when marked as completed -->

        <!-- 如果当前任务是完成的，那么就添加 completed 类；
             根据 todo.isCompleted 这个值来确定是否添加，这个值为true就添加，否则不添加
         -->
        <li ng-repeat="todo in todoList track by $index" ng-class="{ completed: todo.isCompleted, editing: todo.id === editingId }">
          <div class="view">
            <input class="toggle" type="checkbox" ng-model="todo.isCompleted">
            <label ng-bind="todo.name" ng-dblclick="edit(todo.id)"></label>
            <!-- 在ng-click指定的函数中，直接将 id 作为参数传给del方法即可！ -->
            <button class="destroy" ng-click="del(todo.id)"></button>
          </div>
          <form ng-submit="update()">
            <input class="edit" ng-model="todo.name">
          </form>
        </li>

      </ul>
    </section>
    <!-- This footer should hidden by default and shown when there are todos -->
    <footer class="footer">
      <!-- This should be `0 items left` by default -->
      <span class="todo-count"><strong>0</strong> item left</span>
      <!-- Remove this if you don't implement routing -->
      <ul class="filters">
        <li>
          <a class="selected" href="#/">All</a>
        </li>
        <li>
          <a href="#/active">Active</a>
        </li>
        <li>
          <a href="#/completed">Completed</a>
        </li>
      </ul>
      <!-- Hidden if no completed items are left ↓ -->
      <button class="clear-completed">Clear completed</button>
    </footer>
  </section>
  <footer class="info">
    <p>Double-click to edit a todo</p>
    <p>Created by <a href="http://todomvc.com">itcast</a></p>
    <p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
  </footer>

  <script src="./node_modules/angular/angular.js"></script>
  <script src="js/app.js"></script>
</body>

</html>
